/*Стиль хедера*/
body { 
    /* Местоположение фоновой картинки */ background-image: url(amsterdam.jpg); 
    /* Фоновое изображение выровнено по центру в горизонтальной и вертикальной плоскостях */ background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    color: #fff; 
    background-color: #0aebf3; } 
    .row>div{ 
   
    background-clip: content-box; 
    min-height: 100px; 
    }

    h1{
        font-size: 6vmax;  
    }
    h2{
        font-size: 4vmax;
    }
    p{ 
        font-size: 3vmax;
    }


.header{
    background-image: url(nebo1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #e70909; 
   }

.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
   
   }
.row {

    border-left: 0;
    border-right: 0;
}
.navbar{
    font-family: 'ZCOOL KuaiLe', cursive;
     background:rgb(3, 245, 245);
   position: fixed;
     }
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #f4f4f4; color: #0751f3; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:#fff !important;}.navbar{ background:rgb(1, 64, 238);}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #f4f4f4; color: #0a1ed6; }
.navbar-toggler{  background:#fff !important;}

   .description{
    position: absolute;
    top: 30%;
    margin: auto;
}
.description h1{
 color:rgb(9, 2, 34);
 
}
.description p{
 
 color:rgb(7, 22, 107);
 line-height: 1.5;
}
.description input{
    border-radius: 1px;
 border:1px  solid rgb(9, 48, 223);
 background:rgb(4, 129, 245);
 color:#fff;
}
.dost {
    min-width: 100%;
    position: relative;
    margin:auto;
    text-align: center;
   }

   .dost p{
    color:rgb(7, 6, 39);
    border:2px  solid rgb(18, 2, 48);
    background-color: cyan;
   }
   .dost h1{
    font-family: 'ZCOOL KuaiLe', cursive;
    color:rgb(7, 6, 39);
    margin: 2em;
   }
   .dost img{
    width: 100%;
      
   }
   .photo{
       position: relative; 
       text-align: center;
       justify-content: center;
   }
   .photo h1{
    font-family: 'ZCOOL KuaiLe', cursive;
    color:rgb(13, 5, 41);
    margin: 2em; 
    text-align: center;
   }
   .photo img{
     height: 15rem;
     width: 100%;
     border:1px  solid rgb(2, 2, 2);
     margin-top: 1em;
     margin-bottom: 1em;
   }
   .plus{
    margin: 4em 0;
    position: relative;
    text-align: center;
   }
   .plus img{
    box-shadow: 0 0 10px #ccc;
    border:1px  solid rgb(2, 2, 2);
    border-radius: 10px;
   }
   .plus input{
    color:rgb(10, 247, 247);
    background-color: rgb(2, 2, 49);
    border:1px  solid rgb(2, 2, 2);
   }
   .plus h1{
    font-family: 'ZCOOL KuaiLe', cursive;
    color:rgb(23, 4, 44);
    margin: 2em;

   }
   .plus h2{
    font-family: 'ZCOOL KuaiLe', cursive;
    color:rgb(7, 6, 39);
    margin: 2em;
   }
   .plus li{
    
    font-size: 30px;
    color:rgb(251, 255, 41);
   }
   .plus fieldset{
    font-size: 30px;
    color:rgb(7, 6, 39);
   }
   .plus>div{
    min-height: 100px;
   }
   .otziv{
    margin: 4em 0;
    position: relative; 
    text-align: center;
   }
   .otziv h1{
    color:rgb(8, 2, 43);
    margin: 2em; 
   }
   .otziv h2{
    color:rgb(8, 2, 43);
    margin: 2em; 
   }
   .otziv .card{
    box-shadow: 0 0 20px #ccc;
   }
   .otziv .card img{
    width: 100%;
    height: 12em;
   }
   .otziv .card-title{
    color:rgb(28, 1, 53);   
   }
   .otziv .card-body{
    padding: 1em;
   }
   .otziv .card-footer{
       background-color: chartreuse;
       color:rgb(8, 2, 43);
   }
   .jumbotron{ font-size: 30px;
    background-image: url(land.jpg);
    color:rgb(142, 250, 41);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
   }
.otziv .card-body{
    color:rgb(9, 2, 46);
    background-color: darkkhaki;
}  
.container{
        color:rgb(164, 240, 42);
} 
.container .textarea{
    background-color:rgb(26, 33, 141);
    color:rgb(0, 3, 3);
}
.container .textblock{
    background-color:rgb(26, 33, 141);
    color:rgb(100, 250, 0);
}
